body
{
    margin: 0;  
    padding: 0;  
    background-image: url('page6.png');  
    background-size: cover;  
    background-repeat: no-repeat;
    /* background-position: center; */
}

#wholepageclick
{
    position: absolute;  /* 绝对定位 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    /* 保持图片的宽高比，并且填充整个区域 */
    opacity: 0%;
}